@mixin ring ($size,$color,$className,$repeatNumber) {

  $child : 0;
  $margin-right: 0;

  @for $i from 1 through $repeatNumber {
    @if ($repeatNumber > 1) {
      $child : ":nth-child(#{$i})";
      $margin-right : -$size/2;
    }@else {
      $child: "";
      $margin-right : 0;
    }
    .#{$className}#{$child} {

      z-index:$i;
      vertical-align:middle;
      display:inline-block;
      margin-right: $margin-right;
      width: ($size);
      height: ($size);
      border-radius: 50%;
      border:$size*0.07 solid $color;
      filter: drop-shadow($size*0.0234 $size*0.0234 2px darken( $color, 10% ));

    }
    $size : $size + 10px;
  }
}

@include ring(50px,#ff6905,ring-solo-orange,1);
@include ring(213px,#fcca03,ring-solo-yellow,1);
@include ring(45px,#3b3b3b,ring-multiple-blue,6);

